* {
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

li {
    display: inline-block;
}

.nav-left {

}

.nav-right {

}

.main-wrapper {
    display: block;
    text-align: center;
    padding-bottom: 35px;
}

.logo-area {
}

#logo {
    height: 92px;
    width: 272px;
}

.search-field{
}

.search-buttons{

}

#nav {
    font-size: 13px;
    opacity: 70%;
}
