* {
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

li {
    display: inline-block;
}

.main-wrapper {
    display: block;
    text-align: center;
}

.nav {
    font-size: 13px;
}

.logo img{
    height: 92px;
    width: 272px;
}